body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 20, 145, 0.634);
}
   h1{
    font-size: 28px;
    color: lightpink;
   }
   p{
    color: white;
    width: 100%;

   }